body {
    background-color: #ffdead;
    background-image: url("https://www.transparenttextures.com/patterns/felt.png");
}
h1 {
    border: solid;
}

h2 {
    text-align: left;
    margin-left: 1%;
    border-left: solid;
    border-bottom: solid;
    border-color: dodgerblue;
    border-left-width: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-family: Georgia;
    width: 95%;
}

p{
    margin-left:1%;
}
.col-md-2 {
    border: thin solid;
    border-radius: 7px;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #5A3E2A;
    background-image: url("https://www.transparenttextures.com/patterns/felt.png");
}

/*-----SlideShow-----*/
.mySlides {
    display: none;
}

img {
    vertical-align: middle;
    border: 5px solid black;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    max-height:90%
}
/*Prev&Next Buttons*/
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}
/*position prev/next button to left/right*/
.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
        background-color: #f1f1f1;
        color: white;
    }
/*Caption text*/
.text {
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
/*Num Text*/
.numText {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/*Fading animation*/
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
/* The bullets */
.dot1 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot1:hover {
        background-color: #717171;
    }
#cbl_categories {
    margin-left:auto;
    margin-right:auto;
}

.textinbox{
    color:salmon;
    font-weight:bold;
}

.buttonasp{
    border-radius:10px;
}

.asptext {
    font-weight: bold;
    font-family: "Segoe UI";
}

.categoriesbox{
}

.row{
    /*width: 95%;*/
}