body {
    background-color: #ffdead;
    background-image: url("https://www.transparenttextures.com/patterns/felt.png");
}

h1 {
    text-align: center;
}

.border {
    border: solid;
    border-width: thin;
    /*background-image: url("/Images/Ex30.png");*/
}

p, div, li, .buttonStyle {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    color: black;
}

/*form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: black;
    padding: 30px;
    margin: auto;
    width: 70%;
}*/

.submitButton, .buttonStyle {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    background-color: #f9188f;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px #88989e;
    padding: 5px 10px;
}

    .submitButton:hover, .buttonStyle {
        background-color: #b70563;
    }

    .submitButton:active, .buttonStyle {
        background-color: #b70563;
        box-shadow: 0 5px #66767c;
        transform: translateY(4px);
    }

.col-25 {
    float: left;
    margin-top: 6px;
}

.col-75 {
    float: left;
    margin-top: 6px;
    width: 75%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

*:focus {
    outline: none;
}

input[type=text]:focus, select:focus, textarea:focus {
    background-color: lightpink;
}

@media (max-width: 600px) {
    .col-25, .col-75, input[type=submit], .buttonStyle {
        width: 100%;
        margin-top: 0;
    }
}

.textbox {
    border-radius: 5px;
}

.fronts {
    /*width: 400px;*/
    position: fixed;
    top: 75%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

.titles {
    /*height: 200px;
    width: 400px;*/
    position: fixed;
    top: 75%;
    left: 10%;
    margin-top: -100px;
}

.recbuttons {
  
}