/*body {

}*/
h1 {
    border: solid;
}

p {
    border: solid;
}

.col-md-2 {
    border: thin solid;
    border-radius: 7px;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url('../../Images/image3.jpg');
}
