body {

}
h1 {
    border: solid;
}

p {
    border: solid;
}

div.col-md-2 {
    border: thin solid;
    border-radius: 7px;
    margin-left: 74px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
