body {
    width: 100%;
    background-color: #ffdead;
    background-image: url("https://www.transparenttextures.com/patterns/felt.png");
}

.test1 {
    float:left;
}

.auto-style1 {
    color: #FF0000;
}

.auto-style2 {
    width: 387px;
}

.auto-style3 {
    width: 20px;
}

.auto-style4 {
    width: 402px;
}

.auto-style5 {
    color: #FFFFFF;
    background-color: #000000;
}

/*.calendarSelect {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
}*/

    .calendarSelect:hover {
        color: red;
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        border: 2px solid #fff;
    }

.userGrid {
    
}

.userRows {
    background-color: aliceblue;
    color: black;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
}

.header {
    background-color: lightgrey;
    font-size: medium;
    border-style: solid;
    border-color: black;
}

.buttonAdd {
    background-color: transparent;
    color: blue;
    text-decoration: underline;
}

table {
    text-align: center;
}