body {
    background-color: #ffdead;
    background-image: url("https://www.transparenttextures.com/patterns/felt.png");
}

.label1 {
    text-align:center;
    font-size:larger;
    font-weight:bold;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

h2 {
    text-align: left;
    margin-left: 1%;
    border-left: solid;
    border-bottom: solid;
    border-color: slategrey;
    border-left-width: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-family: Georgia;
}

#actName {
    text-align: left;
    margin-left: 1%;
    margin-top: 20px;
    border-left: solid;
    border-bottom: solid;
    border-color: slategrey;
    border-left-width: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-family: Georgia;
    color: white;
}

.titles {
    text-align: left;
    margin-left: 1%;
    border-left: solid;
    border-bottom: solid;
    border-color: slategrey;
    border-left-width: 20px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-family: Georgia;
}

.auto-style1 {
    height: 64px;
}

.auto-style2 {
    height: 62px;
}

table {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.outputtext{
    font-weight:bold;
    font-family:Georgia;
    font-size:large;
}

td {
    width:100px;
}

.activityGrid {
    width: 80%;
    min-width: 80%;
    position: center;
}

.header {
    background-color: lightgrey;
    font-size: medium;
    border-style: solid;
    border-color: black;
}

.rows {
    background-color: aliceblue;
    color: black;
    border-style: solid;
    border-width: 1px;
}

    .rows::alternate {
        background-color: green;
    }

    .rows:hover {
        background-color: #CE5D5A;
        color: #F7F6F3;
    }

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.timeDis {
    display: inline-block;
    position: relative;
    width: 10%;
    height: 10%;
    text-align: center;
    color: black;
    background-color: darkseagreen;
    border: solid;
    border-color: goldenrod;
    border-width:3px;
}

.fkingheader {
    background-color:white;
    font-weight:bold;
}

.fkingbox {
}

.backViewBtn {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: central;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background: #ff3366;
    display: block;
    width: 20%;
    outline: none;
    border: 2px solid #ff3366;
    cursor: pointer;
    text-transform: uppercase;
}

    .backViewBtn:hover {
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        border: 2px solid #fff;
    }
