@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Campfire Planner</h1>
    <p class="lead">Campfire. Plan. View. Create.</p>
    <p><a href="~/ASP.Net/LoginRegister/LoginPage.aspx" class="btn btn-primary btn-lg">Let's Go! &raquo;</a></p>
</div>